---
import Layout from '../layouts/Layout.astro';
import Cone from '../components/Cone.astro';
---

<Layout title="Look ma! Cones">
	<main>
		<form>
			<label>
				Interval (defaults to 30s)
				<input type="number" name="interval" id="interval" placeholder="30">
			</label>
			<fieldset>
				<legend>Select cone colours</legend>
				<label>
					<input type="checkbox" name="cone-red" id="cone-red" value="red">
					red
				</label>
				<label>
					<input type="checkbox" name="cone-blue" id="cone-blue" value="blue">
					blue
				</label>
				<label>
					<input type="checkbox" name="cone-green" id="cone-green" value="green">
					green
				</label>
				<label>
					<input type="checkbox" name="cone-orange" id="cone-orange" value="orange">
					orange
				</label>
				<label>
					<input type="checkbox" name="cone-white" id="cone-white" value="white">
					white
				</label>
				<label>
					<input type="checkbox" name="cone-yellow" id="cone-yellow" value="yellow">
					yellow
				</label>
			</fieldset>
		</form>
		<Cone interval={10} colours={['red', 'blue', 'green', 'orange', 'white']} />
	</main>
</Layout>

<style>
	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}
	fieldset label {
		display: block;
	}
</style>